<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tel" class="form-control" name="row[tel]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deviceid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deviceid" class="form-control" name="row[deviceid]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Token')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-token" class="form-control" name="row[token]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" class="form-control" name="row[status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Openid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-openid" class="form-control" name="row[openid]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wename')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wename" class="form-control" name="row[wename]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weimg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weimg" class="form-control" name="row[weimg]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" class="form-control" name="row[nickname]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tkname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tkname" class="form-control" name="row[tkname]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Praised')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-praised" class="form-control" name="row[praised]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fans')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fans" class="form-control" name="row[fans]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Follow')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-follow" class="form-control" name="row[follow]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prefer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-prefer" class="form-control" name="row[prefer]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Usertag')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-usertag" data-rule="required" class="form-control" name="row[usertag]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pwd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pwd" class="form-control" name="row[pwd]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Priority')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-priority" class="form-control" name="row[priority]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
